@model km956216_MIS4200_.Models.appointmentDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>appointmentDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.petID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.petID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vetID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vetID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.appointentDetailsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
